[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/proxy/api/:splat"
  status = 200
  force = true

[[headers]]
  for = "/.netlify/functions/proxy/*"
  [headers.values]
    Access-Control-Allow-Origin = "https://fed-storefront-frontend-dhanushka.netlify.app"
    Access-Control-Allow-Methods = "GET, POST, PUT, DELETE, OPTIONS"
    Access-Control-Allow-Headers = "Content-Type, Authorization"
    Access-Control-Allow-Credentials = "true"
    Cache-Control = "no-cache, no-store, must-revalidate"
    Pragma = "no-cache"
    Expires = "0" 